html,body{
    font-family:'Poppins';
    font-size:20px;
    line-height:1.5;
    box-sizing:border-box;
    margin:0;
    overflow-x:hidden;
    top: 2px;
    left:2px;
    background-color: white;
}
a{
    text-decoration:none;
    color:rgb(146, 42, 167);
    font-weight:bold;
}
a:hover{
    color:rgb(74, 21, 78);
}
ul{
    list-style-type: none;
   

}
.navbar{
    background: rgb(124, 32, 124);
    padding:3rem 7rem;
    height:0rem;
    min-height:5vh;
}
.navbar .navbar-brand a{
    padding:1rem 0;
    display:black;
    text-decoration:none;
}
.navbar-brand{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:2.srem;
    color:white;
    font-weight: bold;
}
.navbar-toggler{
    background: rgb(114, 22, 114);
    border:none;
   
    outline:none;

}
.navbar-toggler span{
    display:block;
    width:22px;
    height:2px;
    border:1px;
    background:rgb(245, 241, 245);

}

.navbar-expand-lg .navbar-nav .nav-link{
   
    
    position:relative;
color:rgb(228, 216, 106);
font-style: normal;
font-family:inherit;
font-weight: lighter;
padding:px;
background-color: rgb(124, 32, 124);
background-size: 0mm;
font-size: 17px;




}

.navbar-expand-lg .navbar-nav .nav-link hover{
    border-top:4px solid rgb(100, 41, 100);

}
.navbar-expand-lg .navbar-nav .nav-link:active{

    border-top:4px solid rgb(100, 41, 100);
    color:rgb(100, 41, 100);
}
 
 .btn{
    background-color:rgb(124, 32, 124);
    color:rgb(232, 238, 144);
    border-radius:20px;
    border-color: rgb(245, 241, 44);
    margin-top:1px;
    font-size: 17px;
}
.btn-1{
    background-color:lavenderblush;
    color:rgb(105, 36, 82);
    border-radius:35px;
    border-color: rgb(185, 183, 30);
    margin-top:1px;
}

.row-home{
    background-color:rgb(134, 43, 134) ;
}
.container{
    max-width:500px;
   
    background:#fff;
    padding:25px 30px;
    border-radius:25px;
   margin-top: 80px;
   margin-right:120px;
  
}
.container .textes
{
    padding:0px;
}
.btn-2{
    background-color:rgb(216, 194, 72);
    color:rgb(26, 27, 15);
    border-radius:10px;
    border-color: rgb(19, 18, 5);
    align-items: center;
    font-size: 20px;
    
}
.card{
    background-color: rgb(223, 147, 76);
   
   
   
}
.container-1 .row{
   
    padding:5px;
    margin-left: 100px;
}
.footer-container
{
    max-width:1170px;
   
    margin:auto;
}
.footer-row
{
    display:flex;
    flex-wrap:wrap;
}
ul{
    list-style: none;
}
.footer
{
    background-color: rgb(211, 120, 199);
    padding:50px 0;
   
}
.footer-col{
    width:25%;
    padding:0 15px;
    max-height: 150px;
}
.footer-col h4{
    font-size:18px;
    color:#111010;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    
    
}
.footer-col h4::before{
    content: '';
    position:absolute;
    left:0;
    background-color: #e91e63;
    height:2px;
    bottom:-10px;
    box-sizing:border-box;
    width:50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom:10px;
}
.footer-col ul li a{
    font-size:16px;
    text-transform: capitalize;
    color:#141313;
    text-decoration:none;
    font-weight:300;
    color:#0e0d0d;
    display:block;
}
.footer-col .social-links a {
    display:inline-block;
    height:40px;
    width:40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align:center;
    line-height: 40px;
    border-radius:50%;
    color:#0f0e0e;

}
.success-1
{
    font-size: 23px;
    margin-top: 25px;
}
.success-2
{
    font-weight: bold;
    font-size:30px;
    
    text-align: center;
}
.success-3
{
    font-weight: bold;
    font-size:27px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(35, 35, 54);
    
   
}
.success-4
{
   
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(35, 35, 54);
    
   
}
.container-2
{
    background:url("wall.png");
}