.bg{background: url('bg-2.jpg') repeat; width:100%; height:100%}
.text{
font-size: larger;
color: rgb(49, 38, 38);
background-color: rgb(146, 243, 230);
background-size:5px ;

text-align: center;

}
.row{
    color: rgb(249, 255, 255);
    font-weight: bold;
    font-size: 18px;
    
}
.container-1{
    background-color:rgb(139, 223, 209);
    background-size: 100%;
}